<h2>Регистрация</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%#= image_tag @user.avatar.user(:thumb) %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :full_name %><br />
  <%= f.text_field :full_name %></p>

  <p><%= f.label :nick %><br />
  <%= f.text_field :nick %></p>

  <p><%= f.label :location %><br />
  <%= f.text_field :location %></p>

  <p><%= f.submit "Зарегистрироваться" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
