<article>
  <h1>Салют, комерадес!</h1>
  <p>Мы тут решили всё переделать.<br />
     Подробности на <%= link_to 'github', 'http://github.com/ruby-su/ruby.su' %> 
     или на <%= link_to 'facebook', 'http://www.facebook.com/pages/rubysu/205439092834000' %>
  </p>
</article>

<% @articles.each do |article| %>
<article>
  <header>
    <small><%= article.published_at.strftime('%d %m') %></small>
    <h2><%= link_to article.title, article %></h2>
  </header>
  
  <%= raw textilize (article.body) %>
  
  <% permitted_to? :edit, article do %>
  <footer>
    <nav>
      <%= link_to 'Редактировать', edit_article_path(article) %>
      <%= link_to 'Удалить', article, :confirm => 'Вы уверены?', :method => :delete %>
    </nav>
  </footer>
  <% end %>
</article>
<% end %>




