<article>
  <header>
    <small><%= @article.published_at.strftime('%d %m') %></small>
    <h1><%= @article.title %></h1>
  </header>
  
  <%= raw textilize(@article.body) %>
  

  <footer>
    <nav class="author">
      Автор: <%= @article.user.nick rescue '' %>
    </nav>
    <nav class="tags">
      Теги: <%= raw @article.tags.map { |tag| link_to tag.name, tag }.join(", ") %>
    </nav>
    <% permitted_to? :edit, @article do %>
    <nav>
      <%= link_to 'Редактировать', edit_article_path(@article) %>
      <%= link_to 'Удалить', @article, :confirm => 'Вы уверены?', :method => :delete %>
    </nav>
    <% end %>
  </footer>
</article>

