<h1><%= @article.title %></h1>

<div class="date"><%= l @article.published_at %></div>
<div class="user"><%= @article.user.nick %></div>

<%= raw textilize(@article.body) %>

<% permitted_to? :edit, @article do %>
  <%= link_to 'Редактировать', edit_article_path(@article) %> 
<% end %>

<p>
  <%= link_to 'Назад', articles_path %>
</p>
