<article>
  <header>
    <h1><%= @article.title %></h1>
    <div class="date"><%= l @article.published_at %></div>
    <div class="user"><%= @article.user.nick rescue '' %></div>
  </header>

  <div class="body"><%= raw textilize(@article.body) %></div>
  <div class="tags">Теги: <%= raw @article.tags.map { |tag| link_to tag.name, tag }.join(", ") %></div>

  <% permitted_to? :edit, @article do %>
    <%= link_to 'Редактировать', edit_article_path(@article) %> 
  <% end %>
</article>

