<h1 class="tagHeader">Статьи по тегу <%= @tag.name %></h1>

<section id="articles">
  
  <% @articles.each do |article| %>
  <article>
    <header>
      <small><%= article.published_at.strftime('%d %m') %></small>
      <h2><%= link_to article.title, article %></h2>
    </header>
  
    <%= raw textilize(article.body) %>
  
    <% permitted_to? :edit, article do %>
    <footer>
      <nav>
        <%= link_to 'Редактировать', edit_article_path(article) %>
        <%= link_to 'Удалить', article, :confirm => 'Вы уверены?', :method => :delete %>
      </nav>
    </footer>
    <% end %>
  </article>
  <% end %>
  
</section>