<!DOCTYPE html>
<html>
<head>
  <title>ruby.su</title>
  <%= stylesheet_link_tag 'blitzer/jquery-ui-1.8.13.custom', 'scaffold' %>
  <%= javascript_include_tag :defaults, 'autocomplete-rails' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24044653-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="wrapper">
    <header class="outside" id="userMenu">
      <nav>
        <% if user_signed_in? %>
          <span>Привет,
          <% if current_user.nick? %>
            <%= current_user.nick %>!
          <% else %>
            <%= current_user.full_name %>!
          <% end %>
          </span>

          <%= link_to 'Создать новость', new_article_path %>
          <%= link_to 'Выйти', destroy_user_session_path %>
        <% else %>
          <%= link_to 'Войти', new_user_session_path %>
          <%= link_to 'Зарегистрироваться', new_user_registration_path %>
        <% end %>
      </nav>
    </header>
    
    <section id="container">
      <header id="header">
        <nav>
          <%= link_to root_path, :id => 'logo' do %>
          <div id="star"></div>
          <div id="rubySu">Ruby<span id="dot">.</span>su</div>
          <div id="slogan"><span>мы говорим</span> на другом языке</div>
          <% end %>
        </nav>
      </header>

      <section id="articles">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
        
        <%= yield %>
      </section>
    </section>

    <footer class="outside" id="social">
      <nav>
        <%= link_to 'github', 'http://github.com/ruby-su/ruby.su' %> 
        <%= link_to 'facebook', 'http://www.facebook.com/pages/rubysu/205439092834000' %>
        <%= link_to 'twitter', 'http://twitter.com/ruby_su_comrade' %>
        <%= link_to 'вконтакте', 'http://vkontakte.ru/rubysu' %>
      </nav>
    </footer>
  </div>
</body>
</html>
