<!DOCTYPE html>
<html>
<head>
  <title>ruby.su</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24044653-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

<div style="float:right">
  <% if user_signed_in? %>
    <%= image_tag current_user.avatar.url(:thumb) %> <%= current_user.nick %>
  <% else %>
    <%= link_to 'Войти', new_user_session_path %>
    <%= link_to 'Зарегистрироваться', new_user_registration_path %>
  <% end %>
</div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

<div id="footer">
  <%= link_to 'github', 'http://github.com/ruby-su/ruby.su' %> 
  <%= link_to 'facebook', 'http://www.facebook.com/pages/rubysu/205439092834000' %>
  <%= link_to 'twitter', 'http://twitter.com/ruby_su_comrade' %>
  <%= link_to 'вконтакте', 'http://vkontakte.ru/club27807101' %>
</div>

</body>
</html>
